@model Pz_Proj_11_12.ViewModels.Meeting.CreateMeetingViewModel

@{
	ViewData["Title"] = "Create meeting";
}

<h1>Create meeting</h1>
<hr />

<div class="my-form-card">
	<form asp-action="Create" class="edit-table-form">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		@if (ViewBag.Error != null)
		{
			<div class="alert alert-danger">@ViewBag.Error</div>
		}
		<input type="hidden" name="plannerId" value="@ViewData["plannerId"]" />
		<table class="details-table">
			<tr>
				<th><label asp-for="Name" class="control-label"></label></th>
				<td>
					<input asp-for="Name" class="form-control details-input" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<th><label asp-for="Description" class="control-label"></label></th>
				<td>
					<input asp-for="Description" class="form-control details-input" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<th><label class="control-label">Meeting's priority level</label></th>
				<td>
					<select asp-for="PriorityId" class="form-control details-select" asp-items="ViewBag.PriorityId"></select>
					<span asp-validation-for="PriorityId" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<th><label asp-for="Location" class="control-label"></label></th>
				<td>
					<input asp-for="Location" class="form-control details-input" />
					<span asp-validation-for="Location" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<th><label class="control-label">Start time</label></th>
				<td>
					<input asp-for="StartTime" class="form-control details-input" type="time" />
					<span asp-validation-for="StartTime" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<th><label class="control-label">End time</label></th>
				<td>
					<input asp-for="EndTime" class="form-control details-input" type="time" />
					<span asp-validation-for="EndTime" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<th><label class="control-label">Day of the week</label></th>
				<td>
					<select asp-for="DayId" class="form-control details-select" asp-items="ViewBag.DayId"></select>
					<span asp-validation-for="DayId" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<th><label asp-for="IsWithReminder" class="control-label">Add reminder?</label></th>
				<td>
					<input asp-for="IsWithReminder" type="checkbox" id="toggleReminder" />
					<span asp-validation-for="IsWithReminder" class="text-danger"></span>
				</td>
			</tr>
			<tr class="reminders-fields" style="display:none;">
				<th><label asp-for="ReminderName" class="control-label"></label></th>
				<td>
					<input asp-for="ReminderName" class="form-control details-input" />
					<span asp-validation-for="ReminderName" class="text-danger"></span>
				</td>
			</tr>
			<tr class="reminders-fields" style="display:none;">
				<th><label asp-for="HoursBefore" class="control-label"></label></th>
				<td>
					<input asp-for="HoursBefore" type="number" class="form-control details-input" min="0" />
					<span asp-validation-for="HoursBefore" class="text-danger"></span>
				</td>
			</tr>

		</table>

		<div class="details-buttons">
			<button type="submit" class="add-bttn">
				<i class="fas fa-plus"></i> Create
			</button>
			<a asp-action="@TempData["Action"]" asp-controller="@TempData["Controller"]" asp-route-id="@TempData["Id"]" class="back-bttn">Back</a>
		</div>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$(document).ready(function () {
			const checkbox = $('#toggleReminder');
			const reminderSections = $('.reminders-fields');

			function toggleReminderFields() {
				if (checkbox.is(':checked')) {
					reminderSections.show();
				} else {
					reminderSections.hide();
					reminderSections.find('input').val('');
				}
			}

			checkbox.on('change', toggleReminderFields);

			toggleReminderFields();
		});
	</script>
}
