@model Pz_Proj_11_12.Models.Meeting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="details-table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Priority)</th>
        <td>@Html.DisplayFor(model => model.Priority.Name)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
        <td>@Html.DisplayFor(model => model.CreatedDate)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Location)</th>
        <td>@Html.DisplayFor(model => model.Location)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.StartTime)</th>
        <td>@Html.DisplayFor(model => model.StartTime)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.EndTime)</th>
        <td>@Html.DisplayFor(model => model.EndTime)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Day)</th>
        <td>@Html.DisplayFor(model => model.Day.Name)</td>
    </tr>
</table>

<div class="details-buttons">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="details-btn details-btn-save">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a asp-action="Index" asp-controller="@TempData["Back"]" class="details-btn">Back</a>
</div>

