@model Pz_Proj_11_12.Models.Planner

@{
    ViewData["Title"] = "Meetings";
}

<h2 class="mb-4">Meeting Schedule</h2>

<div class="planner-table">
    <table class="table text-center table-bordered">
        <thead>
            <tr>
                @foreach (var day in Model.Days)
                {
                    <th>@day.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var day in Model.Days)
                {
                    <td>
                        <div class="section">
                            @foreach (var meeting in day.Meetings)
                            {
                                var priorityClass = $"priority-{meeting.Priority.Name.ToLower()}";
                                    <div class="card p-2 mb-2">
                                    <a asp-action="Details" asp-controller="Meeting" asp-route-id="@meeting.Id">
                                        <div><strong>@meeting.Name</strong></div>
                                        <div class="mt-1">
                                            <span class="badge @priorityClass">@meeting.Priority.Name</span>
                                            <span class="text-muted small">@meeting.StartTime</span>
                                        </div>
                                    </a>
                                    
                                    <div class="mt-2">
                                        <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@meeting.Id">Edit</a>
                                        <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@meeting.Id">Delete</a>
                                    </div>
                                </div>
                            }
                        </div>

                        
                        <div class="mt-2">
                            <a asp-action="Create" asp-route-dayId="@day.Id" class="btn btn-sm btn-outline-success">Add Meeting</a>
                        </div>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>
