@model Pz_Proj_11_12.Models.Planner

@{
    ViewData["Title"] = "Reminders";
}

<h2 class="mb-4">Reminder Schedule</h2>

<div class="planner-table">
    <table class="table text-center table-bordered">
        <thead>
            <tr>
                @foreach (var day in Model.Days)
                {
                    <th>@day.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var day in Model.Days)
                {
                    <td> 
                        <div class="section">
                            @foreach (var reminder in day.Reminders)
                            {
                                <div class="card p-2 mb-2" >
                                    <a asp-action="Details" asp-controller="Reminder" asp-route-id="@reminder.Id">
                                        <div><strong>@reminder.Name</strong></div>
                                        <div class="mt-1">
                                            <span class="text-muted small">@reminder.ReminderTime</span>
                                        </div>
                                    </a>
                                   
                                    <div class="mt-2">
                                        <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@reminder.Id">Edit</a>
                                        <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@reminder.Id">Delete</a>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="mt-2">
                            <a asp-action="Create" asp-route-dayId="@day.Id" class="btn btn-sm btn-outline-secondary">Add Reminder</a>
                        </div>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>
